* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background: #EFEFEF;
    font-family: "Staatliches", sans-serif;
}

body::before {
    content: '';
    width: 100%;
    height: 368px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #535971;
}

.page {
    width: 750px;
    margin: auto;
}

header {
    width: 419px;

    margin-top: 140px;
}

header h1 {
    font-size: 48px;
    font-weight: normal;
    color: #FFFFFF;
    /* margin-bottom: 18px; */
    /* margin-top: 140px; */
}


header p {
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
    margin-bottom: 58px;
    margin-top: 18px;
}

fieldset h2 {
    font-size: 20px;
    font-weight: normal;
    color: #535971;
    /* margin-bottom: 18px; */
    /* margin-top: 16px; */
}

form {
    background: #FFFFFF;
    border-radius: 20px 20px 0 0;
    
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 350px;
}

p {
    font-size: 20px;
}

p,
label {
    font-family: "Poppins", sans-serif;
}

fieldset {
    border: none;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

fieldset legend {
    font-size: 24px;
    color: #535971;
    /* margin-bottom: 32px; */
    /* margin-top: 30px; */
    line-height: 34px;

    width: 100%;

    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 8px;
}

#first-mentoring {
    font-size: 20px;
    color: #193ed5;
    /* margin-bottom: 8px; */
    /* margin-top: 32px; */
    /* line-height: 34px; */

    /* width: 100%; */

    border-bottom: 0px solid #E6E6F0;
    /* padding-bottom: 8px; */
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    font-size: 14px;
    margin-bottom: 8px;
    /* margin-top: 16px; */
    color: #4E4958;
}

.input-wrapper label span {
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}

.input-wrapper label span:hover {
    color: #6b6774;
}

.input-wrapper input {
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;

    height: 56px;
    padding: 0 24px;
    font-size: 16px;
    line-height: 26px;
    color: #FAFAFC;
}

.col-2 {
    display: flex;
    gap: 22px;
}

.col-2 > div:nth-child(1) { 
    width: 50%;
}

.col-2 > div:nth-child(2) { 
    width: 50%;
}

.data {
    display: flex;
    gap: 32px;
}

.col-3 > div:nth-child(1) { 
    width: 300px;
}
.col-4 > div:nth-child(1) { 
    width: 140px;
}
.col-4 > div:nth-child(2) { 
    width: 140px;
}
.col-4 {
    display: flex;
    gap: 10px;
}

footer {
    background: #535971;

    height: 160px;
    display: flex;
    flex-direction: column;

    padding: 52px 72px;
    margin-bottom: 100px;

    border-top: 1px solid #D6D6D6;
    border-radius: 0 0 20px 20px;
}

footer .button {
    height: 56px;
    background: #FF5374;
    color: #FFFFFF;
    border: 0;
    border-radius: 20px;
    
    font-family: 'Staatliches';
    
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
}

footer .button:hover {
    background: #a52c44;
}

input:invalid {
    border: 1px solid #FF1010;
} 